.hero {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("./../../../public/images/side-view-smiley-business-woman-with-laptop.jpg");
  @media screen and (max-width: 550px) {
    background-position: 0 1;
  }
  .content {
    padding: 70px 0 0 0;
    height: 100%;
    width: 35%;
    @media screen and (max-width: 1100px) {
      width: 50%;
    }
    @media screen and (max-width: 770px) {
      width: 80%;
    }
    @media screen and (max-width: 470px) {
      width: 100%;
      text-align: center;
    }
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .welcome {
      color: rgba(255, 255, 255, 0.623);
      font-weight: 700;
      font-size: 16px;
    }
    .header {
      margin-top: 5px;
      font-size: 40px;
      font-weight: 600;
      @media screen and (max-width: 400px) {
        font-size: 30px;
      }
    }
    .description {
      margin-top: 30px;
      font-size: 18px;
      font-weight: 400;
    }
    .btns {
      margin-top: 55px;
      display: flex;
      gap: 15px;
      @media screen and (max-width: 470px) {
        justify-content: center;
        flex-wrap: wrap;
      }
      a{
        text-decoration: none;
      }
      .getBtn {
        padding: 20px 45px;
        background-color: #005f83;
        color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 5px;
        transition: 0.2s;
        cursor: pointer;
        @media screen and (max-width: 400px) {
          padding: 15px 30px;
          width: 100%;
        }
        &:hover {
          background-color: white;
          color: #005f83;
        }
      }
      .aboutBtn {
        padding: 20px 45px;
        background-color: white;
        color: #005f83;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 5px;
        transition: 0.2s;
        cursor: pointer;
        @media screen and (max-width: 400px) {
          padding: 15px 30px;
          width: 100%;
        }
        &:hover {
          background-color: #005f83;
          color: #fff;
        }
      }
    }
  }
}
.second {
  display: flex;
  background-color: #f8f8f8;
  align-items: center;
  .right {
    width: 50%;
    height: 100vh;
    @media screen and (max-width: 1024px) {
      width: 35%;
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
    background-image: url("./../../../public/images/handsome-programmer-working-with-laptop.jpg");
    background-size: cover;
    background-position: center;
  }
  .left {
    width: 50%;
    @media screen and (max-width: 1024px) {
      width: 65%;
    }
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    .content {
      width: 90%;
      .header {
        p {
          font-weight: 500;
          font-size: 20px;
          color: #005f83;
        }
        h1 {
          margin: 15px 0;
          font-weight: 700;
          font-size: 36px;
          @media screen and (max-width: 400px) {
            font-size: 30px;
          }
        }
      }
      .cardList {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .card {
          padding: 30px;
          @media screen and (max-width: 1024px) {
            padding: 20px;
          }
          background-color: white;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          border-radius: 3px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 40px;
          transition: 0.2s;
          .icon {
            transform: scale(1.5);
            transition: 0.2s;
            color: #005f83;
            @media screen and (max-width: 1024px) {
              transform: scale(1.3);
            }
          }
          div {
            h5 {
              font-weight: 500;
              transition: 0.2s;
              font-size: 22px;
            }
            p {
              margin-top: 20px;
              font-weight: 400;
              font-size: 16px;
              transition: 0.2s;
              color: #999999;
            }
          }
          &:hover {
            background-color: #005f83;
            .icon {
              transform: scale(1.5);
              color: white;
            }
            div {
              h5 {
                color: white;
                font-weight: 500;
                font-size: 22px;
              }
              p {
                margin-top: 20px;
                font-weight: 400;
                font-size: 16px;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
.firstBanner {
  position: relative;
  height: 300px;
  width: 100%;
  background-position: center;
  background-image: url("./../../../public/images/close-up-computer-office-instruments-wooden-table-nobody-empty-business-space-with-laptop-cup-coffee-supplies-used-work-startup-company-boardroom.jpg");
  background-size: cover;
  background-attachment: fixed;
  .glass {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
      color: white;
      font-size: 46px;
      p {
        color: white;
      }
    }
  }
}
.contact {
  background-color: #f8f8f8;
  padding: 50px 0;
  .content {
    
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
    display: flex;
    flex-wrap: wrap;
    h1 {
      color: #005f83;
      width: 100%;
      text-align: center;
      border-bottom: 2px solid #005f83;
      font-size: 35px;
      padding: 0 0 10px 0 ;
      margin: 0 0px 25px 0px; 
    }
    .image{
      width: 50%;
      background-image: url("./../../../public/images/2884318.png") ;
      background-position: center;
      background-size: cover;
      
   }
    form {
      width: 50%;
      display: flex;
      flex-direction: column;
      .input{
        margin: 15px 0 0 0;
      }
      span{
        margin: 5px 0 10px 0;
        color: red;
        text-align: center;
      }
      .submitBtn {
        background-color: #005f83;
        height: 40px;
        margin: 10px 0;
      }
    }
    @media screen and (max-width: 1000px) {
      .image{
        display: none;
      }
      form{
        width: 100%;
      }
    }
  }
}
.subsicribe {
  padding: 50px 0;
  background-color: #005f83;
  .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 30px;
      color: white;
    }
    p {
      margin: 5px 0;
      color: white;
    }
    .input {
      width: 50%;
      position: relative;
    }
    input {
      width: 100%;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      border-bottom: 1px solid white;
      outline: none;
      transition: 0.3s;
      color: white;
      font-size: 16px;
    }
    input::placeholder {
      color: white;
      font-size: 16px;
    }
    input:focus {
      border-bottom: 1px solid rgba(255, 255, 255, 0.404);
    }
    .sendIcon {
      position: absolute;
      right: 10px;
      top: 15px;
      background-color: #ffffff00;
      border: none;
      outline: none;
      cursor: pointer;
      .icon {
        color: white;
      }
    }
    @media screen and (max-width: 1000px) {
      justify-content: center;
      p{
        text-align: center;
        margin: 10px 0;
      }
      .input{
        display: none;
      }
    }
  }
}
