.glass {
  width: 100%;
  height: calc(100% + 20px);
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  background: #00000073;
  .freelanceModal {
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    transition: .2s;
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .btn{
        display: flex;
        width: 100%;
        gap: 25px;
        .subBtn{
            width: 100%;
        }
        .clsBtn{
            width: 100%;
            background-color: rgb(255, 128, 0);
        }
      }
    }
  }
}
